@import "../../../styles/colors";
@import "../../../styles/mixins";

.headerCell {
  display: flex;
  flex-direction: column;
  &Label {
    display: flex;
    span {
      flex-grow: 1;
      font-weight: 600;
      text-transform: uppercase;
    }
    .sortIconsContainer {
      margin-left: 5px;
      .sortIcon {
        @include arrow-icon;
      }
    }
  }
  input {
    @include text-input;
    margin: 8px auto;
  }
}
