@import "../../styles/colors";

.table {
  border-collapse: collapse;
  th,
  td {
    border: 1px solid $color-grey;
    white-space: nowrap;
  }
  td {
    padding: 10px 4px;
  }
  th {
    padding: 8px;
    padding-bottom: 0;
    text-align: left;
  }
  tbody {
    tr:hover {
      background-color: $color-grey-light;
    }
  }
}
