@import "../../styles/colors";

.table {
  border-collapse: collapse;
  th,
  td {
    border: 1px solid $color-grey;
    padding: 10px 10px;
    white-space: nowrap;
  }
  th {
    text-align: left;
    padding-bottom: 0;
  }
  tbody {
    tr:hover {
      background-color: $color-grey-light;
    }
  }
}
